:root
{
   --background-inner: #fff7fb;
   --backgound-outer: #ffb4d9;
   --text-color: #FFFFFF;
   --text-size: 60px;
}

*
{
  font-family: 'Balsamiq Sans', cursive;
}

h1 
{
  color: var(--text-color);
  text-transform: uppercase;
  margin: 5px auto ;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  font-size: var(--text-size);
}

.soundButton a
{
  display: none;
  margin-left: 40px;
  width: 90px;
  margin-bottom: 10px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  border: solid 2px #E79AAD;
  background: #E79AAD;
  color: var(--text-color);
  text-decoration: none;
  text-align: center; 
  font-weight: 600;
  font-size: 18px;
}

.output 
{
display: none;
color: var(--text-color);
width: 90px;
margin-left: 40px;
margin-bottom: 10px;
text-align: center;
}

.sound a:hover,
.plus a:hover,
.less:hover
{ border: solid 2px #E79AAD;
  background: #ffffff;
  color:#E79AAD
}

.action
{
  position: absolute;
  left: 0;
  right:0;
  top :50%;
  text-align: center;
  color: #E79AAD;
  font-size: var(--text-size);
}
.action:hover
{
  color: #ffffff;
}

.container 
{
  background: radial-gradient(var(--background-inner), var(--backgound-outer));
  position: fixed;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100% ;
}

html,
body
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100% ;
  overflow: hidden ;
}

.buttonInstrument
{

    width: 10vh;
    margin: 10px 0px 15px 85px;
    height: 2.5vw;
    line-height: 2.5vw;
    border-radius: 10px;
    color: var(--text-color);
    text-decoration: none;
    text-align: center; 
}


a{
  text-decoration: none;
}

.musicians
{
  position: absolute;
  top: 10%;
  left: 25%;
}
.musicians img 
{
  width: 18vw;
}

.firstMusicians
{
  display: flex;
}

.secondMusicians
{
  display: flex;
}

/* Musicians */
.drum1,
.drum2,
.guitar1,
.guitar2,
.sax1,
.sax2,
.sing1,
.sing2,
.triangle1,
.triangle2,
.piano1,
.piano2
{
  display: none;
}

/* Buttons */

.drumButton 
{
  display: none;
  border: solid 2px #dfbed6;
  background: #dfbed6;
}
.drumButton:hover
{
  border: solid 2px #dfbed6;
  background: #ffffff;
  color: #dfbed6;
}

.triangleButton 
{
  display: none;
  border: solid 2px #e6a65d;
  background: #e6a65d;
}

.triangleButton:hover
{
  border: solid 2px #e6a65d;
  background: #ffffff;
  color: #e6a65d;

}
.guitarButton 
{
  display: none;
  border: solid 2px #f9f099;
  background: #f9f099;
}

.guitarButton:hover
{
  border: solid 2px #f9f099;
  background: #ffffff;
  color: #f9f099;
}

.pianoButton 
{
  display: none;
  border: solid 2px #b695c0;
  background: #b695c0;
}

.pianoButton:hover
{
  border: solid 2px #b695c0;
  background: #ffffff;
  color: #b695c0;
}

.singButton 
{
  display: none;
  border: solid 2px #9acaa0;
  background: #9acaa0;
}

.singButton:hover
{
  border: solid 2px #9acaa0;
  background: #ffffff;
  color: #9acaa0;
}

.saxButton 
{
  display: none;
  border: solid 2px #b3dad8;
  background: #b3dad8;
}

.saxButton:hover
{
  border: solid 2px #b3dad8;
  background: #ffffff;
  color: #b3dad8;
}